@page "/allClientDemonstration"
@using AutoRepairJsonWersion.Components.Models
@using AutoRepairJsonWersion.Components.Services
@rendermode InteractiveServer
<h3>
    <button @onclick="Output"> Вывести чуйтсов</button>
    <div>Весь целиком</div>
    <!--<div>@Client</div>-->
    <div>Только имя</div>
    <!--<div>@Client.Name</div>-->
</h3>

@code {
    static Client? Client { get; set; }
    private static void Output()
    {
        Client = ClientProvider.ClientGetInfo();
    }
}