@page "/allClientDemonstration"
@using System.Collections
@using AutoRepairJsonWersion.Components.Models
@using AutoRepairJsonWersion.Components.Services
@rendermode InteractiveServer
<h3>
    <div>Весь целиком</div>
    <div>@_client</div>
    <div>Только имя</div>
    <div>@_client.Name</div>
</h3>

@code { 
    static Client? _client = ClientProvider.ClientGetInfo();
}