@page "/allClientDemonstration"
@using AutoRepairJsonWersion.Components.Models
@using AutoRepairJsonWersion.Components.Services
@rendermode InteractiveServer
<h3>
    <div>
        <button @onclick="Output"> Вывести чуйтсов</button>
        <div>
            @foreach (var item in Client)
            {
                <a>@item.Name   </a>
            }
        </div>
    </div>
</h3>

@code {
    static IList<Client>? Client { get; set; } = new List<Client>();
    
    private static void Output()
    {
        Client = ClientProvider.ClientGetInfo();
    }
    
}